<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Youre saved Posts:</mat-card-title>

    </mat-card-header>

    <mat-card-actions>
        <button mat-button (click)="addLikes()">LIKE</button> <span *ngIf="likes!=0">{{likes}}</span>
    </mat-card-actions>
  </mat-card>
