<div *ngIf = "!(authservice.user | async)?.uid">
 <h1>Welcome</h1>
<br><br>

<div *ngIf = "(authservice.user | async)?.uid">
        <h1>Welcome</h1>
                <p>Logged in as: {{user}} </p>
           
       
</div>